body{
   background-color: #00eeff6c;
}
.photo{
    width:150px;
    height:250px;
    border-radius: 50%; 
}
footer{
    position: absolute;
    bottom: 0; 
    color:lightgray;
}
.miu{
    color: black;
}
.school{
    margin:0 1em 0 1em;
}
address{
    
    color: black;
}
.text-muted{ 
    color: black;
}
#lists{
  font-size: 14px;
}
#valid{
   margin-left: 17px;
}