body{
    background-image: url("images/background.png");
    font-family: verdana,tahoma,sans-serif ;
    font-size: 8pt;
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
}
#bannerbackground{
    height: 50px;
    text-align: center;
    background-image: url(images/bannerbg.png);
}   
h1{
    text-shadow:3px 3px #999999;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
}
#maincontainer{
    border:4px solid gray;
	border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
	overflow:hidden;
	padding:0px;
	position:relative;
	width:800px;
}
#rotten{
    margin-bottom: 10px;
    width: 800px;
    background-image: url(images/rbg.png);
    font-size: 48pt;
    color: red;
    height: 83px;
}
#rotten img{
    float: left;
}

#columns{
    column-count: 2;
    column-gap: 2%;
    column-width: 47%;
    font-size: 8pt;
    font-weight: bold;
  
}
#columns .review img{
    margin-right: 5px;
    vertical-align: middle;
}
#columns .review{
    margin-left: 10px;
    margin-right: 5px;
    padding-left: 5px;
    background-color: #E8DC9B;
    border:2px gray solid;
    border-radius: 10px;
    text-align: start;
   
}
#columns .reviewers {
    margin-bottom: 40px;
}
#columns .reviewers img{
    float: left;
    margin-right: 5px;
    margin-left: 10px;
}

 .overview{
    float: right;
    display: block;
    background-color: #A2B964;
    width: 250px;
    float: right;
    color: black;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
}
.overview dl{
    padding: 10pt;
}

dt{
    font-weight: bolder;
}
dd{
    margin-bottom: 10px;
}
#validator{
    opacity: 50%;
    position: fixed;
    bottom: 0px;
    right:10px;
}
#pages{
    background-color:#A2B964;
	bottom:0px;
	padding:5px;
	position: absolute;
	margin:0 auto;
	z-index:-1;
	text-align:center;
	width:800px;
}
.overview img{
    margin-bottom: 15px;
}
.publication{
    font-style: italic;
}