h1{
    background-color:#F0F0F0;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial,sans-serif;
    font-size: 18pt;
    text-align: left;
    text-decoration: underline;
    color:#A4A400;
    letter-spacing: 0.25em;
}
#mainhead{
    font-size: 22pt;
    font-style: inherit;
    text-align: center;
    text-decoration: underline;
    color: #A4A400;
}
body{
    color: #404040;
    font-family: Georgia,Garamond,serif;
    font-size: 11pt;
    background-image:url("recipeImages/silverware.jpg");
}
.link{
    color: #A4A400
}
div ul li{
    list-style-type:none;
    margin-left: 0em;
}
aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}
footer{
    font-family: monospace;
    text-align: right;
}
div p{
    background-color: yellow;
    margin-left: 3em;
    margin-right: 3em;
    font-style: italic;

}
a{
    color: #A4A400;
}
strong{
    background-color: #FFFFA8;
}